# Google OAuth credentials
GOOGLE_ID=NjgyOTcyNjg0NTkzLXJkdG80NjY1dXBvODBqOW44bHRsb2VucjVwOWJnZWlxLmFwcHMuZ29vZ2xl
dXNlcmNvbnRlbnQuY29t
GOOGLE_SECRET=IEdPQ1NQWC1la1lrMWUxQkZZemlMSFVKNXVUOXN2VEE1Vjlm

# MongoDB connection string
MONGODB_URI=mongodb://localhost:27017

# NextAuth secret
NEXTAUTH_SECRET=aGIxS2IxUis0RHJTZjBJRWErak5QK0VYQ3pMKzZqRGlDUDd6cytTblVsZz0=

# Base URL for the application
NEXTAUTH_URL=http://localhost:3000

# Google API Key
NEXT_PUBLIC_API_KEY=QUl6YVN5QUJ0RzQ5S3BGQUlmc3RWa25ra0ZfY1RpY2pndHF6WjFj
